{% extends "AlexBehatLauncherBundle::layout.html.twig" %}

{% block title 'Project list' %}

{% set menu_active = "project_list" %}

{% block content %}
    {% for project in project_list %}
        {% if not loop.first %}
            <hr />
        {% endif %}
        <h2>{{ project.name }}</h2>
        <p><a href="{{ path('_behat_launcher_run_create', {project: project.name}) }}">Create a run</a></p>
        {{ include('AlexBehatLauncherBundle:Run:_list.html.twig', {runs: run_storage.runs(project, 0, 5)}) }}
    {% endfor %}
{% endblock %}
