{% extends "layout.html.twig" %}

{% block title 'Project list' %}

{% set menu_active = "project_list" %}
{% set refresh = true %}

{% block content %}
    {% for project in project_list %}
        {% if not loop.first %}
            <hr />
        {% endif %}
        <div data-project="{{ project.name }}">
            <h2>
                {{ project.name }}
            </h2>
            <div class="actions">
                <a class="btn" href="{{ path('run_create', {project: project.name}) }}">Create a run</a>
            </div>
            <br />
            {{ include('Run/_list.html.twig', {runs: run_storage.runs(project, 0, 5)}) }}
        </div>
    {% endfor %}
{% endblock %}
