<!DOCTYPE html>
<html>
    <body style="background-color: black">
        <div>
            <pre id="content" class="refresh" data-refresh="content">{{ content|raw }}</pre>
        </div>
        <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
