<div decorate-feature-directory class="block-features" data-path="{{ directory.path }}">
    <div class="header">
        <label class="required">{{ directory.name }}/</label>
    </div>
    <div class="rows hidden">
        <div ng-switch on="entry.type" ng-repeat="entry in directory.entries" class="row">
            <p ng-switch-when="file"><label><input type="checkbox" ng-model="run.feature[]" name="run[feature][]" value="{{ entry.path }}" /> {{ entry.name }}</label></p>
            <div ng-switch-when="directory">
                <div ng-repeat="directory in [entry]" ng-include="'/templates/_feature_directory.html'"></div>
            </div>
        </div>
    </div>
</div>
