<h1>
    #{{ run.id }}
    <small><span class="label" ng-class="'label-' + run.status">&nbsp;{{ run.status }}&nbsp;</span></small>
</h1>
<div>
    <div class="btn-group">
        <button class="btn btn-warning" ng-click="restartAll()"><span class="glyphicon glyphicon-repeat"></span> Restart all</button>
        <button class="btn btn-warning" ng-click="restartFailed()"><span class="glyphicon glyphicon-refresh"></span> Restart failed</button>
        <button class="btn btn-danger" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span> Stop</button>
        <button class="btn btn-danger" ng-click="delete()"><span class="glyphicon glyphicon-fire"></span> Delete</button>
    </div>
</div>
<hr />
<div class="run-progress">
    <div ng-repeat="(status, width) in run.progress" ng-class="'run-progress-'+ status" ng-style="{width: width + '%'}">{{ run.count[status] }}</div>
</div>
<div class="block-counters">
    <div ng-repeat="(status, count) in run.count" class="counter" ng-class="'counter-'+ status + (count == 0 ? ' counter-empty' : '')">
        <span class="number">{{ count }}</span>
        <span class="label">{{ status }}</span>
    </div>
</div>
<hr />
<table class="bl-table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Feature</th>
            <th>Started at</th>
            <th>Finished at</th>
            <th>Output</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr ng-repeat="unit in run.units" ng-class="'row-' + unit.status">
                <td><span class="label" ng-class="'label-' + unit.status">{{ unit.status }}</span></td>
                <td>{{ unit.feature }}</td>
                <td>{{ unit.startedAt }}
                <td>{{ unit.finishedAt }}
                <td>
                    <a ng-repeat="(format, id) in unit.output_files" target="_self" class="output-file" ng-href="/output/{{ id }}">{{ format }}</a>
                </td>
                <td>
                    <button ng-show="unit.status == 'succeeded' || unit.status == 'failed'" class="btn btn-xs btn-danger" ng-click="restartUnit(unit.id)">Restart</button>
                </td>
            </tr>
    </tbody>
</table>
