<div ng-show="loading" class="panel panel-info"><div class="panel-heading"><span class="glyphicon glyphicon-time"></span> <strong>{{ 'loading'|translate }}</strong></div></div>
<div ng-hide="loading">
    <h1>
        {{ 'title.project_create'|translate }}
        <select id="run_project_name" ng-change="loadProjectFromName(projectListChoice.name)" name="run[project_name]" ng-model="projectListChoice" ng-options="project as project.name for project in projects"></select>
    </h1>
    <hr ng-show="error" />
    <div ng-show="error" class="alert alert-danger">{{ error|translate }}</div>
    <hr />
     <form ng-show="project" class="form-horizontal">
        <div class="form-group">
            <label for="run_title" class="col-sm-2 control-label">{{ 'form.run.title'|translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="run_title" ng-model="run.title" />
            </div>
        </div>
        <div ng-repeat="property in project.properties" class="form-group">
            <label for="run_properties_{{ property.name }}" class="col-sm-2 control-label">{{ property.name }}</label>
            <div class="col-sm-10">
                <select class="form-control" id="run_properties_{{ property.name }}" ng-show="property.formType == 'choice'" ng-model="run.properties[property.name]">
                    <option ng-repeat="(value, label) in property.formOptions.choices" value="{{ value }}">{{ label }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="features" class="col-sm-2 control-label">{{ 'form.run.features'|translate }}</label>
            <div class="col-sm-10">
                <div id="features" ng-repeat="directory in [project.features]" ng-include="'/templates/_feature_directory.html'"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success" ng-click="submit()" type="submit" id="run_submit" name="run[submit]">{{ 'form.run.submit'|translate }}</button>
            </div>
        </div>
    </form>
</div>
