<!DOCTYPE html>
<html ng-app="blApp">
    <head>
        <title>Behat Launcher</title>
        {% stylesheets output="css/all.css" "@css" %}
            <link rel="stylesheet" href="/{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body class="behat-launcher">
        <div ng-include="'_menu.html'"></div>
        <div class="container">
            <div ng-view></div>
            <footer ng-bind-html="'<hr />' + ('footer'|translate)">
            </footer>
        </div>
        {% javascripts output="js/all.js" "@js" %}
            <script type="text/javascript" src="/{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
