body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hidden {
    display: none;
}

a.btn, a.btn, input[type=submit], button[type=submit] {
    border: 1px solid #888;
    background-color: #eee;
    color: black;
    display: inline-block;
    padding: 0.4em 0.8em;
    border-radius: 6px;
    text-decoration: none;
}

footer {
    margin-top: 2em;
    font-size: 0.8em;
    text-align: center;
    color: #aaa;
}

footer a {
    color: #555;
    text-decoration: none;
}

div.container > nav {
    border-bottom: 1px solid #bbb;
}

div.container > nav > a {
    display: inline-block;
    color: #888;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 0.9em;
}

div.container > nav > a:hover {
    text-decoration: underline;
}

div.container > nav > a.active {
    color: black;
    text-decoration: underline;
}

div.container > nav > a.brand:hover {
    text-decoration: none;
}
div.container > nav > a.brand {
    cursor: default;
    font-size: 1.2em;
    padding: 8px 32px 8px 12px;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

div.container {
    width: 960px;
    margin: 0 auto;
}

/** Counters */

div.block-counters {
    overflow: hidden;
    margin-bottom: 1em;
}

div.block-counters > div.counter {
    float: left;
    width: 240px;
    text-align: center;
}

div.block-counters > div.counter > span.number {
    font-size: 2em;
    font-weight: bold;
}

span.label {
    font-size: 0.7em;
    display: inline-block;
    padding: 3px 5px;
    font-weight: bold;
    text-transform: uppercase;
}

span.label-pending {
    background-color: #08f;
    color: white;
}

span.label-running {
    background-color: #f80;
    color: white;
}

span.label-succeeded {
    background-color: #0a0;
    color: white;
}

span.label-failed {
    background-color: #a00;
    color: white;
}

table.table tr.row-pending {
    background-color: #ccf;
}

table.table tr.row-running {
    background-color: #fc8;
}

table.table tr.row-succeeded {
    background-color: #cfc;
}

table.table tr.row-failed {
    background-color: #f88;
}

table.table tr.row-with-separator {
    border-bottom: 3px solid white;
}

table.table td {
    padding: 6px;
}

table.table {
    border-collapse: collapse;
    border: 0;
}

a.output-file {
    color: #333;
    border: 1px solid #aeaeae;
    text-decoration: none;
    background-color: #fefefe;
    border-radius: 2px;
    font-size: 0.8em;
    display: block;
    padding: 2px 6px;
}

a.output-file.current {
    font-weight: bold;
    color: black;
    border: 1px solid #333;
}

a.output-file-empty {
    opacity: 0.2;
}

tr.output-file > td {
    margin: 0;
    padding: 0;
}

tr.output-file > td > iframe {
    height: 500px;
    width: 100%;
    border: 0;
}

div.block-counters > div.counter-pending {
    color: #08f;
}

div.block-counters > div.counter-running {
    color: #f80;
}

div.block-counters > div.counter-succeeded {
    color: #0a0;
}

div.block-counters > div.counter-failed {
    color: #a00;
}

div.block-counters > div.counter-empty {
    color: #bbb;
}

/** Table units */

table.table {
    width: 100%;
}

table.table > thead > tr > th {
    text-align: left;
}

/** Features block */

div.block-features p {
    margin: 4px 0;
}

div.block-features {
    margin: 10px 0;
    border: 1px solid #aaa;
}

div.block-features div.block-features {
    border-right: 0px;
}

div.block-features > div.header {
    background-color: #eee;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 1.1em;
}

div.block-features > div.header > a.expand,
div.block-features > div.header > a.collapse,
div.block-features > div.header > label {
    cursor: pointer;
}

div.block-features > div.rows {
    padding-left: 10px;
}

/** Run progress bar **/
.run-progress {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    overflow: hidden;
}

.run-progress > div {
    line-height: 20px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    overflow: hidden;
    float: left;
}

.run-progress > div.run-progress-pending {
    background-color: #08f;
}

.run-progress > div.run-progress-running {
    background-color: #f80;
}

.run-progress > div.run-progress-succeeded {
    background-color: #0a0;
}

.run-progress > div.run-progress-failed {
    background-color: #a00;
}
