{% extends "layout.html.twig" %}

{% set title = 'title.project_create'|trans({'%project%': project.name}) %}

{% block title title %}

{% set menu_active = {
    href: path('run_create', {project: project.name}),
    label: title
} %}

{% block content %}
    <h1>{{ title }}</h1>
    {% form_theme form "form_theme.html.twig" %}
    {{ form(form, {action: path('run_create', {project: project.name})}) }}
{% endblock %}
