{% extends "layout.html.twig" %}

{% block title 'Last 100 runs' %}

{% set menu_active = "run_list" %}
{% set refresh = true %}

{% block content %}
    <h1>{{ 'run_list.count_title'|trans({'%count%': runs|length}) }}</h1>
    {{ include('Run/_list.html.twig') }}
{% endblock %}
