{% extends "layout.html.twig" %}

{% block title 'Last 100 runs' %}

{% set menu_active = "run_list" %}
{% set refresh = true %}

{% block content %}
    <h1>Last {{ runs|length }} runs</h1>
    {{ include('Run/_list.html.twig') }}
{% endblock %}
