{% extends "layout.html.twig" %}

{% set title = 'title.run_list'|transchoice(runs|length, {'%count%': runs|length}) %}
{% block title title %}

{% set menu_active = "run_list" %}
{% set refresh = true %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ include('Run/_list.html.twig') }}
{% endblock %}
