{% extends "AlexBehatLauncherBundle::layout.html.twig" %}

{% block title 'Last 100 runs' %}

{% set menu_active = "run_list" %}

{% block content %}
    <h1>Last {{ runs|length }} runs</h1>
    {{ include('AlexBehatLauncherBundle:Run:_list.html.twig') }}
{% endblock %}
