{% set menu_active = menu_active|default(null) %}
{% set min = app.request.query.get('min', 1) %}
<!DOCTYPE html>
<html ng-app="blApp">
    <head>
        <title>{% block title 'Behat Launcher' %}</title>
        <link rel="stylesheet" href="/css/all{{ min|default(true) ? '.min' : '' }}.css" />
    </head>
    <body class="behat-launcher">
        <div class="container">
            <nav bl-menu="menu" ng-include="'/templates/_menu.html'"></nav>
            <div ng-view></div>
            <footer ng-bind-html="'<hr />' + ('footer'|translate)">
            </footer>
        </div>
        <script type="text/javascript" src="/js/all{{ min|default(true) ? '.min' : '' }}.js"></script>
    </body>
</html>
