<!DOCTYPE html>
<html>
    <body style="background-color: black">
        <div>
            <pre id="content" class="refresh output" data-refresh="content">{{ content|raw }}</pre>
        </div>
        <script type="text/javascript" src="/js/all.min.js"></script>
    </body>
</html>
