{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {# Symfony Logo #}
    {% set icon %}
        <a href="{{ path('_behat_launcher_project_list') }}">
            <img width="26" height="28" alt="Behat Launcher" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIDEgwJRl6rxwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGnSURBVEjHzZa9SsNgFIafYIfSYn9AKE4drZ11cnE0k9fhVOjWUfAGOkhd6i2Ia5W2i0sdOxWLbuIgFEspYm1elxRiSNJEE/HAWT5O8nzn9zvwR2KEsNkHjoEDYAfYss9fgRFwB1wD9z+9hAn0AIXULnAUFdKKAFipBSyB8zCAnH0z/UIt4BbYDAL9FuKE3QSFy4oJJDuMTTfkyIbECbKAd+AwiZC5QQvgytkn34y8ZDKZqNPpqFKp+Np5wBZ2v+0CnHndyPlxPp9Xo9GQJA0GA187D48+gTfgBL+mdP8gm81KkmazWVTQFLhM2WMlUAqFArVaDYB+v7861poRZti6AVQAPoI8csp4PJZpmt+qM8AjZ+U9rQUBymQyqlararfbkqRms6mQoFVBvAA8h8kRoGKxKEmaTqdRQEvgIWWP+u2gHKXTacrlMvV6HYDhcBiYU0kYhuHM1aNneXvJfD7XaDRSq9VSqVTytfPw0AJOPRs2gQmxt3KvlyCo635NkwKZ7hxeJAC58CuYOEPYW/eU92KC5MIuJ1bc4Qpat7oRvTD/9QIZq3wB6w6UrtKT2rsAAAAASUVORK5CYII=">
        </a>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
